.button {
  border-radius: 3px;
  border:  none;
  outline: none;
  font-size: 1rem;
}

.button--primary {
  background-color: #71c4b1;
}

  .button--primary:hover,
  .button--primary.is-active {
    background-color: #5cad9b;
  }
