.loading {
  width:  20px;
  height: 20px;
  border-radius: 3px;
  background-color: #71c4b1;

  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.loading--center {
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes sk-rotateplane {
  0%   { -webkit-transform: perspective(120px) }
  50%  { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
