@import "~normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Lato:300,100,700,900|Raleway:500");

@import "./base/typography.css";

@import "./components/buttons.css";

body {
  background-color: #fbfbfb;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, serif;
  margin: 0;
}

html, body, #app, .layout {
  height: 100%;
  min-height: 100%;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.wrapper {
  padding: 30px;
}
