.tile {
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  background-color: #000;
  text-align: center;
}

  .tile:first-child {
    border-left: 0;
  }

  .tile:hover .tile__image {
    opacity: 1;
  }

  .tile:hover .tile__overlay {
    background:
      linear-gradient(
        rgba(0, 0, 0, .8) 0%,
        rgba(0, 0, 0, .4) 40%,
        rgba(0, 0, 0, 0)  100%
      );
  }

.tile__content {
  position: absolute;
  z-index: 3;
  box-sizing: border-box;
  width:  100%;
  height: 100%;
}

.tile__header {
  height: 100px;
}

.tile__title {
  font-weight: 200;
  color: #fff;
}

.tile__sub-title {
  color: #999;
}

.tile__weather {
  width:  100%;
  color: #fff;
  font-size: 2rem;
}

.tile__current-temperature {
  font-size: 3rem;
  font-weight: 300;
}

.tile__temperatures {
  margin-top: 50px;
}

.tile__temperature {
  width: 50%;
  display: inline-block;
}

.tile__forecast {
  margin-top: 50px;
}

  .forecast__item {
    width: 100%;
    margin-top: 25px;
  }

.tile__overlay {
  position: absolute;
  z-index: 2;
  width:  100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .1));
}

.tile__image {
  position: absolute;
  width:  100%;
  height: 100%;
  opacity: .6;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .tile {
    width: 33.333333333%;
  }

  .tile:nth-child(n+4) {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .tile {
    width: 50%;
  }

  .tile:nth-child(4n-5) {
    width: 100%;
  }
}


.tile__overlay--primary {

}
