<!DOCTYPE html>
<html lang="en">
<head>
  <title>WeatherBase</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      WeatherBase.start(document.getElementById('app'))
    })
  </script>

  <div id="app"></div>

  {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
  <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
  {% } %}
</body>
</html>
