/* Types */
.t-title {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

.t-muted {
  color: #ccc;
}

.t-title--clean {
  font-size: 1.4rem;
  font-weight: 400;
}

.t-lead {
  font-size: 1rem;
}

.t-thin {
  font-weight: 300;
}

.t-small {
  font-size: .8rem;
}

.t-helper {
  font-size: .6rem;
  text-transform: uppercase;
  font-weight: 400;
}

.t-sup {
  display: block;
  font-size: .5rem;
  text-transform: uppercase;
}

/* Positioning */
.t--center {
  text-align: center;
}
